
*.s#2
hardware/i1/audio_hat.b#1
hardware/i1/audio_hat.b#2
hardware/i1/audio_hat.b#3
hardware/i1/audio_hat.s#1
hardware/i1/audio_hat.s#3
hardware/i1/control_board.b#1
hardware/i1/control_board.b#3
hardware/i1/control_board.s#3
hardware/i1/eagle.epf
hardware/i1/SparkFun.dru
hardware/i1/wristband.b#1
hardware/i1/wristband.b#2
hardware/i1/wristband.b#3
hardware/i1/wristband.s#1
hardware/i1/wristband.s#3
hardware/i1/audio_hat.b#1
hardware/i1/eagle.epf
